<section id="about" class="row">

	<header class="twelveColumns">
		<h1>About Us</h1>
	</header>

	<nav class="twelveColumns right">
		<ul class="inlineLinkList">
			<li class="navItem">
				<a href="#services">Services</a>
			</li>
			<li class="navItem">
				<a href="#work">Our Work</a>
			</li>
			<li class="navItem active">
				<a href="#about">About Us</a>
			</li>
			<li class="navItem">
				<a href="#contact">Let’s Talk</a>
			</li>
		</ul>
	</nav>

	<div class="twelveColumns">
		<article id="desAndDev">
			<h2>Who's Behind Cerebral Ideas:</h2>
			<div class="body">
				<p>I'm Justin Lowery, the owner of Cerebral Ideas, but I'm not the only one who's responsible for all that is produced. I have a few, extremely talented people working with me. Together, we are an amazing team of web architects that love to take on the most complex problems in web and application development.</p>

				<p>I've been a designer for over a decade with a focus on information and functional design. After about 4 years of graphic and web design, I started front-end & interaction development and absolutely fell in love with building rich interactive user experiences. For more than a few years, this passion has turned into building powerful web-applications.</p>
			</div>
		</article>

		<article id="neuroAndUx">
			<h2>What Makes Us Special:</h2>
			<div class="body">
				<p>As strange as it may sound, I’m also a licensed, registered nurse (RN) with a strong focus on neuropsychology. My experience with, and understanding of, what makes us human is vital to building products that align with users' expectations. I’m feverishly focused on building a strong base of knowledge of human behavior and how it affects human-computer interactions.</p>

				<p>We also have a deep respect for typography and information design, so we start every project with building and designing the message. Then, by slowly adding elements that support the conveyance of that message, we utilize an inside-out approach to design and development. This ensures all elements, graphical or textual, support the message and not distract from it.</p>
			</div>
		</article>

		<article id="charAndCulture">
			<h2>Our Character & Culture:</h2>
			<div class="body">
				<p>We pride ourselves on our passion for communication and willingness to share information and knowledge with the community. This drives our desire to educate, unify and assist in all aspects of a project. With our rich experience in planning, strategy, messaging, design and development in an agile, team environment, we can be a valuable bridge to connect the sometimes disparate fields.</p>
			</div>
		</article>
	</div>
</section>