<section id="contact" class="row">

	<header class="twelveColumns">
		<h1>Contact Us</h1>
	</header>

	<nav class="twelveColumns right">
		<ul class="inlineLinkList">
			<li class="navItem">
				<a href="#services">Services</a>
			</li>
			<li class="navItem">
				<a href="#work">Our Work</a>
			</li>
			<li class="navItem">
				<a href="#about">About Us</a>
			</li>
			<li class="navItem active">
				<a href="#contact">Let’s Talk</a>
			</li>
		</ul>
	</nav>

	<div class="twelveColumns">

		<article>

			<h2>
				<i class="icon-twitter iconLarge"></i>
				<a href="https://twitter.com/cerebralideas">@cerebralideas</a>
			</h2>

			<p>I’m the most active on Twitter and find it a great platform for quick, simple chats. Follow me, ask me a question, say hi … <em>Warning: I've been known to be opinionated once in a while ;)</em></p>
		</article>

		<article>

			<h2>
				<i class="icon-mobile iconLarge"></i>
				(512) 827-8487
			</h2>

			<p>If you still prefer to use the phone part of your smart device, feel free to call me.</p>
		</article>

		<article>

			<h2>
				<i class="icon-paperplane iconLarge"></i>
				Email Me
			</h2>

			<p>Fill out the contact form below, and I’ll get back to you as soon as possible.</p>

			<p><span class="required">* Required fields.</span> </p>

			<p><em>Don't worry, this information is used for no purpose other than contacting you back.</em></p>

			<form id="contactForm" name="contactForm" class="" method="post"
				  action="/contact-form">

				<ul class="unstyled">

					<li class="required">
						<label for="name">Name</label>
						<input id="name" name="name" type="text" class="" value="" maxlength="100"
							   required />
					</li>

					<li class="required">
						<label for="email">Email</label>
						<input id="email" name="email" type="email" spellcheck="false" class="" value=""
							   maxlength="100" required />
					</li>

					<li>
						<label for="phone">Phone</label>
						<input id="phone" name="phone" type="text" class="" value="" maxlength="20"
							   onkeyup="" />
					</li>

					<li class="required">
						<label for="message">Message</label>
						<textarea id="message" name="message" class="" spellcheck="true" onkeyup=""
								  required></textarea>
					</li>

					<li>
						<button id="saveForm" name="saveForm" class="button primary" type="submit">Send It!</button>
					</li>

					<li class="hide">
						<label for="comment">Do Not Fill This Out</label>
						<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
						<input type="hidden" id="idstamp" name="idstamp"
							   value="t4WvRF6n8Ht66LwTmEGJ9y/nfyFIO3ucenEYXxfuJME=" />
					</li>
				</ul>
			</form>
		</article>
	</div>
</section>