<footer class="row">

	<header class="twelveColumns">
		<h1>Credits and Appreciation</h1>
	</header>

	<div class="twelveColumns">
		<article>
			<h2>Standing on the Shoulders of Giants</h2>
			<div class="body">
				<p>I would like to take this time to thank my fellow colleagues and the open-source movement for their selfless act of freely sharing knowledge and work. Cerebral Ideas, or the web in general, would not be what it is today without this great community.</p>

				<p>Cerebral Ideas, all rights reserved.</p>
			</div>
		</article>
	</div>
</footer>

<div class="C6">
	<img src="/img/dist/c6-icon.svg" alt=""/>
</div>

<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-37615138-1']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

</script>