<div class="row calloutSection">

	<hgroup class="fourColumns">
		<h1 class="callout">UX</h1>
		<h2 class="subheader">Architecture</h2>
	</hgroup>

	<hgroup class="fourColumns">
		<h1 class="callout">App</h1>
		<h2 class="subheader">Prototyping</h2>
	</hgroup>

	<hgroup class="fourColumns">
		<h1 class="callout">Ix</h1>
		<h2 class="subheader">Development</h2>
	</hgroup>
</div>

<div class="sevenColumns">
	<blockquote>We're a small studio of web architects that specialize in web-application design & development.</blockquote>
</div>
