<section id="services" class="row">

	<header class="twelveColumns">
		<h1>Services</h1>
	</header>

	<nav class="twelveColumns right">
		<ul class="inlineLinkList">
			<li class="navItem active">
				<a href="#services">Services</a>
			</li>
			<li class="navItem">
				<a href="#work">Our Work</a>
			</li>
			<li class="navItem">
				<a href="#about">About Us</a>
			</li>
			<li class="navItem">
				<a href="#contact">Let’s Talk</a>
			</li>
		</ul>
	</nav>

	<div class="twelveColumns">
		<article>
			<h2>Design <em>(The What)</em></h2>
			<p>We specialize in information, user-interface and interaction design services. Our design process involves research, wireframing, prototyping and testing. We live for the complex problem solving that is inherent in web-applications, but we reserve a little love for websites too.</p>
		</article>

		<article>
			<h2>Development <em>(The How)</em></h2>
			<p>Everything from the development of prototypes for testing and experimentation, to full, production-ready products can be fully realized by our team. Our focus is on the architecture, interface and interaction (behavior) of web-applications and content management systems (CMS). We are comfortable developing within client-only or client-server hybrid environments as well.</p>
		</article>

		<article>
			<h2>User-Experience <em>(The Why)</em></h2>
			<p>User-neuropsychology is a special passion of ours. Knowledge of the human condition helps solve unique and complex problems while preserving an optimal user-experience. We're focus on driving goal-oriented behavior, capturing and sustaining attention, and ensuring a positive user-experience.</p>
		</article>
	</div>
</section>