<section id="about" class="row">

	<header class="twelveColumns">
		<h1>Thank You!</h1>
	</header>

	<div class="twelveColumns">
		<article id="thankYou">

			<div class="body">
				<p>Thank you for contacting us. We will respond as quickly as possible, which should be within 24 hours. Since there is never a 100% guarantee that I get the sent email, please try another channel of communication (e.g. <a href="http://twitter.com/cerebralideas">Twitter</a> or my number 512-827-8487) if it takes longer than normal. Thanks.</p>
			</div>

			<a class="button primary" href="/">Return to Main Page</a>
		</article>
	</div>
</section>