<section id="work" class="row">

	<header class="twelveColumns">
		<h1>Body of Work</h1>
	</header>

	<nav class="twelveColumns right">
		<ul class="inlineLinkList">
			<li class="navItem">
				<a href="#services">Services</a>
			</li>
			<li class="navItem active">
				<a href="#work">Our Work</a>
			</li>
			<li class="navItem">
				<a href="#about">About Us</a>
			</li>
			<li class="navItem">
				<a href="#contact">Let’s Talk</a>
			</li>
		</ul>
	</nav>

	<div class="twelveColumns">
		<article>
			<p>We have a few pieces of work below, but you are also welcome to visit our popular community pages:</p>

			<ul class="unstyled communityLinks">
				<li>
					<span class="icon-github iconLarge"></span>
					<a target="_blank" href="https://github.com/cerebralideas">Open-Source on GitHub</a>
				</li>
				<li>
					<span class="icon-dribbble iconLarge"></span>
					<a target="_blank" href="http://dribbble.com/cerebralideas">Latest Designs on Dribble</a>
				</li>
			</ul>
		</article>

		<section>
			<h2>Content Management Systems (CMS)</h2>

			<div class="row">
				<article class="sixColumns">
					<h3>Ka-Prow Restaurant V3 (early 2011)</h3>

					<p><strong>Site</strong>: <a target="_blank" href="http://kaprowleaf.com">Ka-Prow Bistro</a></p>

					<p><strong>Summary</strong>: This project was has been an ongoing, work-in-progress for a couple of years. I do not maintain the site anymore, but help from time to time with blog articles, photography and minor changes.</p>

					<p><strong>List of responsibilities</strong>:</p>

					<ol>
						<li>Rebranding</li>
						<li>Logo Redesign</li>
						<li>Food Photography</li>
						<li>Design & Information Architecture</li>
						<li>Joomla CMS and Front-End Development</li>
					</ol>
				</article>
				<div class="sixColumns">
					<a data-modal-id="kaProwModal" data-modal-title="Ka-Prow Bistro" class="th screenshot js_useModal" href="/img/dist/ka-prow-bistro.png">
						<img src="/img/dist/ka-prow-bistro-thumb.png">
					</a>
				</div>
			</div>

			<div class="row">
				<article class="sixColumns">
					<h3>Learn English with Drew V1 (early 2009)</h3>

					<p><strong>Site</strong>: <a target="_blank" href="http://esl.cerebralideas.com/">Learn English with Drew</a></p>

					<p><strong>Summary</strong>: Cerebral Ideas was hired to design and develop a CMS (content management system) that would allow the client to build a feature rich English learning site. The initial launch version is available above; the final version was altered by my client after  hand-off.</p>

					<p><strong>List of responsibilities</strong>:</p>

					<ol>
						<li>Branding</li>
						<li>User-Experience (UX)</li>
						<li>Web Design</li>
						<li>Interaction Design</li>
						<li>TextPattern CMS & Front-End Development</li>
						<li>Information Architecture</li>
					</ol>
				</article>
				<div class="sixColumns">
					<a data-modal-id="learnEnglish" data-modal-title="Learn English with Drew" class="th screenshot js_useModal" href="/img/dist/learn-english-with-drew.png">
						<img src="/img/dist/learn-english-with-drew-thumb.png">
					</a>
				</div>
			</div>
		</section>

		<hr/>

		<section>
			<h2>Brochure and Blog Websites</h2>

			<div class="row">
				<article class="sixColumns">
					<h3>Transform/David McNally Blog V1 (early 2011)</h3>

					<p><strong>Site</strong>: <a target="_blank" href="http://blog.transformcorp.com/">Transform Blog</a></p>

					<p><strong>Summary</strong>: Cerebral Ideas was hired to design and develop a Wordpress blog for a prominent business speaker. The objective was to present David McNally in a warm, personal style while providing a good reading experience using a platform that allowed independent maintainability by the client.</p>

					<p><strong>List of responsibilities</strong>:</p>

					<ol>
						<li>Information Architecture</li>
						<li>Website Design</li>
						<li>Front-end Development</li>
						<li>Wordpress Development</li>
					</ol>
				</article>
				<div class="sixColumns">
					<a data-modal-id="transformBlog" data-modal-title="Transform Blog" class="th screenshot js_useModal" href="/img/dist/transform-blog.png">
						<img src="/img/dist/transform-blog-thumb.png">
					</a>
				</div>
			</div>
		</section>

		<hr/>

		<section>
			<h2>Complete Web Applications</h2>

			<div class="row">
				<article class="sixColumns">
					<h3>Patient Accounting System V0.1b (In Development)</h3>

					<p><strong>Site</strong>: Unavailable</p>

					<p><strong>Summary</strong>: Cerebral Ideas was initially brought in to design an enterprise-level web-application for a patient accounting system for education. Then, after the initial design & prototyping phase, our responsibilities were extended to developing the application's client-side in a client-server architecture. This application is still in development and is behind a login, so it is unavailable for sharing.</p>

					<p><strong>List of responsibilities</strong>:</p>

					<ol>
						<li>Research</li>
						<li>Wireframming</li>
						<li>Prototyping</li>
						<li>Application Architecture</li>
						<li>UI & Graphic Design</li>
						<li>Interaction Design</li>
						<li>Interaction Development</li>
						<li>Application Development</li>
						<li>User-Experience (UX)</li>
					</ol>
				</article>
				<div class="sixColumns">
					<a data-modal-id="accountingSystem" data-modal-title="Patient Accounting System" class="th screenshot js_useModal" href="/img/dist/patient-accounting-system.png">
						<img src="/img/dist/patient-accounting-system-thumb.png">
					</a>
				</div>
			</div>

			<div class="row">
				<article class="sixColumns">
				<h3>Financial Intranet Application V0.2b (In Development)</h3>

				<p><strong>Site</strong>: Unavailable</p>

				<p><strong>Summary</strong>: Design and engineer the user-experience for a suite of applications that will be used within a web-based intranet. This web-application is responsible for heavy data management and uses very large, complex forms and UI/Ix tools. This project is still in development, and it too is behind a login.</p>

				<p><strong>List of responsibilities</strong>:</p>
				<ol>
					<li>UI & Graphic Design</li>
					<li>Prototyping</li>
					<li>Interaction Design</li>
					<li>Interaction Development</li>
					<li>Front-End Development</li>
					<li>User-Experience (UX)</li>
				</ol>
			</article>
			<div class="sixColumns">
				<a data-modal-id="intranetApp" data-modal-title="Financial Intranet Application" class="th screenshot js_useModal" href="/img/dist/intranet-application.png">
					<img src="/img/dist/intranet-application-thumb.png">
				</a>
			</div>
	</div>
		</section>
	</div>
</section>